* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;


  li {
    font-weight: bold;

    a {
      padding: 10px;
      color: #000;
      text-decoration: none;

      &:hover,
      &.active {
        background: rgb(220, 230, 173);
      }
    }

  }
}